/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
/terraform/key.json
*.backup
/packer/key.json
/terraform/backup/
/terraform/prod/key.json
/terraform/stage/key.json
