cloud_id                 = "b1gpqs4odpls12ifuc9rl5r"
folder_id                = "b1grsbdil1dgurdft2hq4rvj"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "e9bi938c2fmdtpngh6icqm7"
service_account_key_file = "key1.json"
private_key_path         = "~/.ssh/ubuntu"
copies                   = "1"
app_disk_image           = "fd8ma5d6figdfsda3fgqci12"
db_disk_image            = "fd8usifdt14adpt93drvkdf"
