cloud_id                 = "b1gpq4osdfgls1sfgs2iuc9rl5r"
folder_id                = "b1grbdisl1gurdt2qgfs4rvj"
zone                     = "ru-central1-a"
access                   = "YCAJEdF2kgsE2H7josaxAcIuSDJ-g"
security                 = "YCP0sdvPsdgA7DB0IPLedFO3HAKGqkGfNKwkx_BWo2QEg"
name                     = "maddogsstyle"
service_account_key_file = "key1.json"
